{% extends 'club/base.html' %}
{% block content %}
<h1 class="green">Фитнес-клуб FitTime</h1>
<div id="slider" class="carousel slide mb-3">
  <div class="carousel-inner">
    <div class="carousel-item active p-4 bg-dark text-white">Онлайн-запись на тренировки</div>
    <div class="carousel-item p-4 bg-success text-white">Удобное расписание и разные направления</div>
    <div class="carousel-item p-4 bg-light">Акции для новых клиентов</div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#slider" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span></button>
  <button class="carousel-control-next" data-bs-target="#slider" data-bs-slide="next"><span class="carousel-control-next-icon"></span></button>
</div>
<a class="btn btn-success" href="{% url 'trainings' %}">Тренировки</a>
<a class="btn btn-outline-dark" href="{% url 'login' %}">Войти</a>
<a class="btn btn-outline-dark" href="{% url 'register' %}">Регистрация</a>
{% endblock %}
